{% extends "base.html" %}

{% load static %}




{% block content %}

<div class="container-fluid p-4">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-md-6 order-md-2 text-center">
      <img class="img-fluid" src="{% static 'images/food_1.jpg' %}" alt="food_1">
    </div>
    <div class="col-12 col-md-6 order-md-1 text-center">
      <h5 class="mt-3">
        Savor culinary excellence at Okajuki, offering a diverse menu blending international and local flavors. Reserve your table for an exceptional dining experience with warm hospitality.
      </h5>
    </div>
  </div>
</div>


{% endblock%}